<div class="bg-gray-200 py-1">
    
<div class="font-bold py-2 text-center">
<p>Last 30 days</p>
</div>
<div class="flex flex-row space-x-8 py-3 justify-center">

    <div class="font-medium px-20 py-2 rounded-lg border-2 bg-white">
    <p class="text-left text-gray-600 text-xs" href ="#">Total Suscribers </p>
    <label class="text-3xl">71,897</label>
    </div>

    <div class=" font-medium px-20 py-2 rounded-lg border-2 bg-white">
    <p class="align=left text-gray-600 text-xs" href ="#">Avg. Open Rate</p>
    <label class="text-3xl">58,16%</label>
    </div>

    <div class="font-medium px-20 py-2 rounded-lg border-2 bg-white">
    <p class="text-left text-gray-600 text-xs" href ="#">Avg. Click Rate</p>
    <label class="text-3xl">24,57%</label>
    </div> 
</div> 
</div>